.game-view {
  padding: 0 40px;

  .players-summary {
    display: flex;
    justify-content: space-between;
  }

  .player-summary {
    flex: 0 1 50%;
    border-right: 1px solid #fff;
  }

  .player-results-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
  }

  .player-results {
    width: 40%;
    display: flex;
    flex-flow: column wrap;

    .guess-result {
      margin-bottom: 20px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      .winner {
        font-size: 45px;
        text-align: center;
        margin-top: 20px;
        border-top: 2px solid #fff;
      }
    }
  }
}
