.register-view {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  form {
    text-align: center;

    input {
      margin: 7px 0;
    }
  }
}
